:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background: #8388ef;
  cursor: pointer;
  color: white;
}
button:hover {
  background: #646cff;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  text-align: center;
  padding-top: 15rem;
}

table {
  width: 100% !important;
  max-width: 100% !important;
  white-space: normal;
  border-collapse: collapse;
}
.containerTable {
  margin-bottom: 4rem;
}
table td,
table th {
  border: 1px solid #ccc;
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
table th {
  text-align: left;
}

.noTokens {
  text-align: center;
}

.loginButton {
  position: absolute !important;
  top: 1rem;
  right: 1rem;
}

.errorMessage {
  background: rgb(255, 167, 167);
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 1rem 5rem 1rem 5rem;
  width: auto;
  border-radius: 20rem;
  -webkit-border-radius: 20rem;
  margin-top: 2rem;
  display: inline-block;
  -moz-border-radius: 20rem;
  -ms-border-radius: 20rem;
  -o-border-radius: 20rem;
}
